<!DOCTYPE html>
<head>
  <title>Eureka | Create Post</title>
  <%- include("./partials/fontsAndBootstrap") %>
</head>

<body>
  <h1>Create Post</h1>
  <%- include("./partials/postCreationForm") %>
</body>
