<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eureka | Error</title>
    <%- include("./partials/siteWideStyles") %>
  </head>

  <body>
    <h1>Status Code: <%= statusCode %></h1>
    <p><%= error %></p>
  </body>
</html>
