<!DOCTYPE html>
<head>
  <title>Eureka | Home</title>
  <link rel="stylesheet" href="/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <script src="/leaflet/leaflet.js"></script>
</head>

<body>
  <h1>Eureka</h1>
  <nav>
    <a href="/createPost">Create post</a>
  </nav>
  <main>
    <button type="button" id="previousPin">Previous</button>
    <section id="map"></section>
    <button type="button" id="nextPin">Next</button>
  </main>
  <%- include("./partials/indexScripts") %>
</body>
