<!DOCTYPE html>
<head>
  <title>Eureka | Update Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <h1>Update <%= item.name %> Post</h1>
  <p id="wrongPassword"></p>

  <form id="authForm">
    <label for="password">Password for this post:</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Submit</button>
  </form>

  <%- include("./partials/postCreationForm", { previous: item }) %> <%-
  include("./partials/updatePostScript") %>
</body>
