#mapOverlayGrid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  pointer-events: none;
}

form, button > i {
  pointer-events: auto;
}

#searchBar {
  grid-column-start: 2;
  grid-column-end: 11;
}

#previousPin{
  grid-row: 5;
}

#nextPin{
  grid-column: 10;
  grid-row: 5;
}

.cursor-pointer {
  cursor: pointer;
}